/* Header */
header {
  background-color: #050015;
  font-size: 24px;
  padding: 5px; 
} /* Header */

/* Navbar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* Global Styles */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

/* Main */
main {

  border-radius: 25px;
  background: #aaaaaa;
  padding: 20px;
  margin: 20px;

}

/* Footer */
footer {
  background-color: #050015;
  color: white;
  text-align: center;
  padding: 10px;
} /* Footer */

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.connect-button a {
  color: white;
  text-decoration: none;
}

.contact h2 {
  margin-top: 0;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  /* ... */
}